h1
	a(href='/') #{title}
#map
#content
	.inner
		#leftCol
			h2 Welcome to turf
			iframe#nko(src="http://nodeknockout.com/iframe/nodule", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")
			- if (user)
				#user
					img(src=user.twitter.avatarUrl)
					span.username 
						a(href="/user/#{user.twitter.screenName}") @#{user.twitter.screenName}
					span.faction Faction: Independant 
					span.since Since: #{user.created}
				p
					a#twLogout(href="/bye") Log Out
			- else
				p
					a#twSignin(href="/auth/twitter") Login with twitter
			p Turf is a geo-social warfare app, where you stake a claim to your territory, and fend off those that try claim it for themselves.
		#rightCol
			p
				a#tagButton(href='#') Claim your current location
			p
				a(href="/about") About
				a(href="/contact") Contact 
				a(href='/users/') View all users
			#disclaimer
				p Wow, 48 hours isn't nearly enough, especially for a designer thats just learning Node. There are many features which I would have loved to have added, but sadly will have to wait till after Node Knockout, see about section above.
			

script(src='https://raw.github.com/christopherdebeer/ConvexHull/master/convex_hull.js')
script(src='/javascripts/turf.js')
script(type='text/javascript')
	turf.points = !{tags};
	turf.user = !{userObj};